html {
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: rgba(62, 96, 111, 1);
}

div.sidebar-room-list {
    margin:10px 10px 10px 10px;
    position: absolute;
    text-align: center;
    border-radius: 8px;
    padding: 10px 15px 10px 15px;
    height: 97.5vh;
    background-color: rgba(255, 240, 165, 1);
}

table {
    margin: 0px 0px 5px 0px;
}

th {
    text-decoration: underline;
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 4px;
}

tr {
    font-size: 18px;
}

button {
    font-size: 14px;
    background-color: rgba(255, 240, 165, 1);
    border: 2px solid rgba(51, 51, 51, 1);
    border-radius: 5px;
    transition-duration: 0.4s;
    outline: none;
}

button:hover {
    background-color: rgba(62, 96, 111, 1);
    color: rgba(244, 244, 244, 1);
    border: 2px solid rgba(51, 51, 51, 1);
}

form {
    font-size: 14px;
}
