*, *::before, *::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 100%
	font-family: 'Work Sans', sans-serif;
}

body {
	background-color: rgba(255, 255, 255, 1);
	font-family: 'Work Sans', sans-serif;
}

.room-list-view {
    margin:10px 10px 10px 10px;
    position: absolute;
    text-align: center;
    height: 95%;
    background-color: rgba(216, 216, 216, 1);
}

.open-rooms-title {
    padding: 0px 15px 10px 15px;
	text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 22px;
}

table {
	text-align: center;
	margin: auto;
	width: 90%;
}

tr {
	text-align: center;
    font-size: 20px;
}

td {
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.room-button {
	margin-top: 10px;
	background-color: rgba(70, 177, 102, 1);
	border: rgba(70, 177, 102, 1);
	color: rgba(255, 255, 255, 1);
	width: 90%;
	font-size: 18px;
    outline: none;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}
.room-button:hover {
	background-color: rgba(90, 197, 122, 1);
	border: rgba(90, 197, 122, 1);
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}

#message-list-view-box {
	margin:10px 10px 10px 190px;
    position: absolute;
	width: 85%;
	text-align: left;
	height: 95%;
	background-color: rgba(216, 216, 216, 1);
}

#active-room-title {
	padding: 10px 15px 10px 15px;
	text-align: center;
	text-decoration: underline;
	font-weight: bolder;
	font-size: 22px;
	margin:0px;
}
