<body ng-app="MyApp" ng-controller="MyCtrl">
    <form>
        <div modal="showModal" close="cancel()">
            <div class="modal-header">
                <h3>Create a new room</h3>
            </div>
            <div class="modal-body">
                <h5>Enter a room name</h5>
                <input ng-model="newRoom" type="text">
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="ok()">Ok</button>
                <button class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</body>
