<section ng-controller="RoomCtrl as roomCtrl">
	<div class="create-room">
		<button class="button" ng-controller="ModalCtrl as modal" ng-click="modal.open()">New Room</button>
	</div>

	<div class="room-list-view">
		<br />
        <table>
            <tr>
                <div class="open-rooms-title">Chat Rooms</div>
            </tr>
            <tr ng-repeat="room in roomCtrl.room.all" ng-click="activeRoom()">
                <td>{{ room.$value }}</td>
            </tr>
        </table>
    </div>
</section>
