<section ng-controller="RoomCtrl as roomCtrl">
	<div class="room-list-view">
		<div class="create-room">
			<button class="room-button" ng-controller="ModalCtrl as modal" ng-click="modal.open()">New Room</button>
		</div>
		<table>
			<br>
            <tr>
                <div class="open-rooms-title">Chat Rooms</div>
            </tr>
            <tr ng-repeat="room in roomCtrl.room.all" ng-click="room.activeRoom()">
                <td>{{ room.$value }}</td>
            </tr>
        </table>
    </div>
</section>
<section id="message-list-view-box" ng-controller="MessageCtrl as messageCtrl">
	<div class="messages-list-view">
        <h3 id="active-room-title">Place active room here</h3>
		<br />
        <table>
            <tr ng-repeat="message in messageCtrl">
                <td>{{ message.all[0].content }}</td>
            </tr>
        </table>
    </div>
</section>
