<section ng-controller="RoomCtrl as roomCtrl">
	<div class="room-list-view">
        <table>
			<div class="create-room">
				<button class="room-button" ng-controller="ModalCtrl as modal" ng-click="modal.open()">New Room</button>
			</div>
			<br>
            <tr>
                <div class="open-rooms-title">Chat Rooms</div>
            </tr>
            <tr ng-repeat="room in roomCtrl.room.all">
                <td>{{ room.$value }}</td>
            </tr>
        </table>
    </div>
</section>
